html, body {
  background-color: #1f201e;
  font-family:      sans-serif;
  color:            #aaaca6;
  height:           300px;
  width:            600px;
  display:          block;
  margin:           10px auto;
}

.hidden {
  display:    none;
}

p {
  margin:     5px 10px auto 10px;
}

/* wrapper for titletext and titledesc (so we can align that on top of all the rest) */
#title {
  display:    block;
  margin:     10px auto;
  text-align: center;

}

/* title of options page */
#titletext {
  font-size:  larger;
  display:    block;
  margin:     10px auto;
}

/* help text below title */
#titledesc {
  display:    block;
  margin:     10px auto;
}

/* wrapper for everything below title */
.outer_box {
  display: flex;
}

/* wrapper for all found accounts */
#accounts {
  width:      400px;
}

/* account content */
.content {
  padding: 10px 18px;
  margin-left: 10px;
  display: none;
  overflow: hidden;
}

/* wrapper for checkbox && label
 * this allows us to indent subfolders
 */
 #chkboxcontainer {
  margin-left: 5%;
}

/* button and checkbox labels */
label {
  margin:     5px 0px;
}

/* checkboxes */
input[type="checkbox"] {
  margin:     5px 10px;
}

/* not used, but would work for selected checkboxes */
input[type="checkbox"]:checked {
  display: inline;
}

/* wrapper for logo, apptext, and appversion */
.logo_wrapper {
  width:  180px;
  margin: 10px 10px;
  border: 1px solid #babcb7;
}

.logo {
  display:  block;
  margin:   10px auto;
}

.apptext {
  margin:       auto 5px;
  text-align:   center;
}

.appversion {
  margin:       10px 5px auto 5px;
  text-align:   center;
}

.saved_text {
  display:      none;
  margin:       auto 5px;
  text-align:   center;
}
