html, body {
  background-color: #1f201e;
  font-family:      sans-serif;
  color:            #aaaca6;
  height:           300px;
  width:            600px;
  display:          block;
  margin:           10px auto;
}

.hidden {
  display:    none;
}

p {
  margin:     5px 10px auto 10px;
}

#title {
  display:    block;
  margin:     10px auto;
  text-align: center;

}

#titletext {
  font-size:  larger;
  display:    block;
  margin:     10px auto;
}

#accounts {
  width: 400px;
}

label {
  margin:     5px 0px;
}

input[type="checkbox"] {
  margin:           5px 10px;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}

.applybutton {
  margin:           0px auto;
  background-color: #1f201e;
  color:            #aaaca6;
  border:           1px solid #babcb7;
  font-size:        large;
  display:          block;
}

.applybutton:hover {
  background-color: #4e504c;
}

.outer_box {
  display: flex;
}

.logo_wrapper {
  width:  180px;
  margin: 10px 10px;
  border: 1px solid #babcb7;
}

.logo {
  display:  block;
  margin:   10px auto;
}

.apptext {
  margin:       auto 5px;
  text-align:   center;
}

.appversion {
  margin:       10px 5px auto 5px;
  text-align:   center;
}
